# Build artifacts
build/
dist/
*.egg-info/
*.pyc
__pycache__/
.DS_Store

# Mac specific
*.app
*.dmg

# Agecrypt files
/agecrypt copy working 2.py
/agecrypt old.py
/agecrypt working.py
/key.age
/key.txt
/key2.age
/key3.age
/key4
/key4.age